body {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: large;
}

div {
    padding: 10px 0;
}

hr {
    border: 1px solid #FF5757;
    margin-bottom: 25px;
}

.card-header {
    font-size: 70px;
    color: #FF5757;
}

.card {
    margin: 100px;
    padding: 50px;
    background-color: #00C4CC;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.left-container {
    text-align: justify;
    width: 50%;
}

.right-container {
    text-align: justify;
    width: 50%;
}

label {
    font-family: Calibri;
    font-size: 30px;
}

input[type=submit] {
    font-family: Calibri;
    background-color: #FF5757;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px;
    opacity: 0.9;
    align-items: center;
    border: solid #f1f1f1;
    font-size: large;
    position: absolute;
    border-radius: 40px;
    font-size: 30px;
}

input {
    width: 80%;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px;
}
