body {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: large;
}

div {
    padding: 10px 0;
}

h1 {
    color: #FF5757;
}

h3 {
    color: #fcfcfc;
    font-size: 25px;
}

hr {
    border: 1px solid #FF5757;
    margin-bottom: 15px;
}

.card-header {
    font-size: 70px;
    color: #FF5757;
}

.card {
    margin: 100px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: #00C4CC;
    margin: 0 auto;
}

.container {
    text-align: left;
    margin: 0 auto;
    width: 100%
}

label {
    font-family: Calibri;
    font-size: 30px;
}

input[type=submit] {
    font-family: Calibri;
    background-color: #FF5757;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px;
    opacity: 0.9;
    align-items: center;
    border: solid #f1f1f1;
    font-size: large;
    border-radius: 40px;
    font-size: 25px;
}

input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px;
}

.link {
    margin-top: -30px;
    font-size: 25px;
}

.logo-img {
    width: 25%
}

.card-center {
    text-align: center;
    margin: 0 auto;
    width: 100%
}

.centured {
    width: 80%;
    margin: 0 auto;
}
