body {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: large;
  }

  .add-edit-patient-content {
    margin: 100px;
    padding: 50px;
    background-color: #00C4CC;
  }
  
  .container {
    display : flex;
    flex-direction : row;
  }

  .container-left {
    text-align:justify;
  }

  .container-right {
    text-align:justify;
  }
  

  input[type=text],
  input[type=password],
  input[type=date],
  textarea {
    width: 65%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    display: flex;
    
  }

  textarea{  
    resize: none;
    overflow-y: auto;
    background-color: #F4716D;
    margin-bottom: 10px;
  }
  
  input[type=date] {
      width: 30%;
  }

  .drop-down.list {
    margin-top: 5px;
    border: none;
    background: #f1f1f1;
    display: flex;
    width: 70%;
    height: 30px;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    outline: none;
  }
  
  div {
    padding: 10px 0;
  }
  
  hr {
    border: 1px solid #FF5757;
    margin-bottom: 25px;
  }
  .delete-drop-down {
      border-radius: 50px;
      background-color: #FF5757;
        font-size: 18px;
    border: none;
  }

  h1 {
      color: #FF5757;
  }
  .registerbtn {
    background-color: #FF5757;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    opacity: 0.9;
    align-items: center;
    border: solid #f1f1f1;
    font-size: large;
    position: absolute;
  right: 180px;
  border-radius: 40px;
  bottom: 65px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }