@model MedHelper.BLL.Dto.Responses.MedicineResponse
@using Microsoft.AspNetCore.Identity
@using MedHelper.DAL.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    var composition = "";
    var contraindication = "";
    var interaction = "";
    foreach (var item in Model.Compositions)
    {
        composition += item.Description + ",\n";
    }
    foreach (var item in Model.Contraindications)
    {
        contraindication += item.Title + ";\n";
    }
    for (int i = 0; i < Model.MedicineInteractions.Count; i++)
    {
        interaction += $"{i + 1}. {Model.MedicineInteractions[i].Composition}:    {Model.MedicineInteractions[i].Description} \n";
    }
}

<link rel="stylesheet" href=~/css/MedicineInfo.css />
<link rel="stylesheet" href=~/css/AdminStyle.css />

<div class="medicine-content">
    <div class="medicine-container">
        <div class="medicine-name-header">
            <p>@Model.Name</p>
        </div>
        <div class="medicine-scroll-panel">

            <div class="row">
                <label>Назва препарату:</label>
                <input type="text" value=@Model.Name disabled>
            </div>

            <div class="row">
                <label>Фармакоцептична група:</label>
                <input type="text" value=@Model.Group.Title disabled>
            </div>

            <div class="row">
                <label>Склад:</label>
                <textarea type="number" disabled>@composition</textarea>

            </div>

            <div class="row">
                <label>Противопоказання:</label>
                <textarea type="number" disabled>@contraindication</textarea>
            </div>

            <div class="row">
                <label>Взаємодія з іншими препаратами:</label>
                <textarea class="interaction" type="number" disabled>@interaction</textarea>
            </div>

        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="button-wrapper">
            <input type="button" name="submit" class="btn btn-danger" value="Delete Medicine" />
        </div>
    }
</div>
