@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/ForgetPassword.css" type="text/css" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<div class="card">
    <div class="card-center">
        <img class="logo-img" src="~/LogoRound.jpg" alt="" />
        <h1> Оновлення паролю </h1>
        <div class="centured">
            <hr>
            <div class="container">
                <div>
                    <label> PASSWORD: </label>
                    <input type="text" name="password" placeholder="new password" size="15" required />
                </div>
                <div>
                    <label> CONFIRM PASSWORD: </label>
                    <input type="text" name="c_password" placeholder="new password" size="15" required />
                </div>
               
            </div>

            <div>
                <input type="submit" name="submit" class="btn btn-primary" value="Отримати новий пароль" />
            </div>
        </div>
    </div>
  
</div>
