@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MedHelper.Web.Models.ResetPasswordViewModel
@{
}
<link rel="stylesheet" href="~/css/ForgetPassword.css" type="text/css" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<div class="card">
    <div class="card-center">
        <img class="logo-img" src="~/LogoRound.jpg" alt="" />
        <h1> Оновлення паролю </h1>
        <div class="centured">
            <hr>
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div class="container">
                <div>
                    @Html.HiddenFor(m=>m.Token)
                    @Html.HiddenFor(m=>m.UserId)
                    <label> PASSWORD: </label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div>
                    <label> CONFIRM PASSWORD: </label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                </div>
               
            </div>

            <div>
                <input type="submit" name="submit" class="btn btn-primary" value="Отримати новий пароль" />
            </div>
            </form>
        </div>
    </div>
  
</div>
