@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var AllMedicines = ViewBag.AllMedicines;
}
<link rel="stylesheet" href=~/css/Admin.css type="text/css" />
<body>
    <div class="add-edit-patient-content">
        <h1> ALL MEDICINES </h1>
        <hr>
        <div class="profile-container">
            <div class="medicine-list">
                @*<div class="search-part-medicine">
                    <img class="medicine-search-img" src=~/SearchLogo.png>
                    <input class="search" type="text" placeholder="Search..">
                </div>*@
                <div class="medicine-scroll-panel">
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 1</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 2</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 3</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 3</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 1</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 2</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 3</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 3</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 1</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 2</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 3</button>
                    <button class="button-medicine" type="button" onclick="RedirectToViewMedicine()">Medicine 3</button>
                    @*@foreach (var item in AllMedicines)
                        {
                            <button class="button-medicine" type="button" onclick="location.href='@Url.Action("ViewMedicine", "Medicine", new { id = item.Id })'">@item.Name</button>
                        }*@
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <input type="submit" name="submit" class="btn btn-danger" onclick="RedirectToAddMedicine()" value="Add Medicine" />
        </div>
    </div>
    <script>
        RedirectToAddMedicine = function () {
            window.location.href = "/Account/AddMedicine";
        }
    </script>
    <script>
        RedirectToViewMedicine = function () {
            window.location.href = "/Account/ViewMedicine";
        }
    </script>
</body>
