@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href=~/css/Welcome.css type="text/css" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="welcome.css">
</head>

<body>
    <div class="add-edit-patient-content">
        <h1> Ласкаво просимо</h1>
        <hr>
        <img class="doctor-img" src="~/MedHelperWelcome.jpg" alt="" />
    </div>
</body>
