@model MedHelper.Web.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/Account/login-layout.css" />
    <link rel="stylesheet" href="~/css/Account/password-reset.css" />
    <link rel="stylesheet" href="~/css/HomeStyle.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Title</title>
</head>
<body>
    <header class="login_layout">
        <button type="button" class="btn home" onclick="location.href='@Url.Action("Index", "Home")'">
            MedHelper
        </button>
    </header>
    <main role="main" class="login_layout">
        <div class="container" style=" align-self: center;">
            <div class="user_login_form">
                <h2 class="form_title">Register</h2>
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row_with_two_columns">
                        <div class="one_column">
                            <label asp-for="FirstName" class="cred_label">FirstName</label>
                            <input asp-for="FirstName" class="cred_small_input" placeholder="John" />
                        </div>
                        <div class="one_column">
                            <label asp-for="LastName" class="cred_label">LastName</label>
                            <input asp-for="LastName" class="cred_small_input" placeholder="Doe" />
                        </div>
                    </div>
                    <div>
                        <label asp-for="Email" class="cred_label">EmailAddress</label>
                        <input asp-for="Email" class="cred_input" placeholder="jonhdoe@gmail.com" />
                    </div>
                    <div>
                        <label asp-for="Password" class="cred_label">Password</label>
                        <input asp-for="Password" class="cred_input" placeholder="8+ characters (letters and numbers)" />
                    </div>
                    <div>
                        <button type="submit" class="submit_button">SignUpButton</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>